<!DOCTYPE html>
<html>
<head>
  <title>Redis UI</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <%= stylesheet_link_tag "redis_ui_rails/application", media: "all" %>
</head>
<body>
  <%= yield %>
</body>
</html>
